/** FONTS COLOR **/
$color-primary : #FFD15B;
$color-dark : #000;
$color-light : #fff;
$color-grey : #7A7A7A;
$color-light-grey : #C6C6C6;

/** FONTS **/
$typography-text: 'Manrope', sans-serif;
$typography-title: 'Anton', sans-serif;