@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

@theme {
    --font-anton: Anton, sans-serif;
    --font-manrope: Manrope, sans-serif;
    --color-light-grey: #ededed;
}

